.panel{
	overflow: auto;
}

.animalName{
	width: 15%;
	margin-left: 42.5%;
	text-align: center;
}

#breedName{
	width: 15%;
	margin-left: 42.5%;
}

.animalButton{
	width: 100%;
}

#zip{
	width: 15%;
	margin-left: 42.5%;
}

#map{
	height: 40%;
}

.petDiv{
	display: inline-block;
	overflow: auto;
}

.petInfo{
}

.petPic{
	float: left;
}

.dropdownpos{
	margin: 1%;
}

.title{
	display: inline-block;
	font-weight: bold;
}